@charset "utf-8";

/* 도깨비 PJ : 공통 모듈 CSS - common.css */
/* 공유기능 요소 셋팅 */

/* 0.전체레이아웃 영역별 셋팅 */
/* 1. 상단영역 */
.top-area {
  height: 128px;
}
/* 2. 배너영역 */
.ban-area {
  position: relative;
  /* 부모자격 : .cat-box */
  height: 680px;
}
/* 서브파트메뉴 */
.spart-menu {
  height: 60px;
}
/* 8. 하단영역 */
.footer-area {
  height: 371px;
}

/************* 1. 상단영역 *************/
/* TOP 메뉴 */
.top-menu ul {
  display: flex;
  justify-content: flex-end;
}
/* TOP 리스트 */
.top-menu ul li {
  padding: 0 10px;
}
/* TOP a링크 */
.top-menu ul a {
  font-size: 1.4rem;
  line-height: 40px;
  font-weight: bold;
}

/* 메인로고 */
.mlogo img {
  margin-top: 39px;
}
/* GNB 메뉴 */
.gnb ul {
  display: flex;
  justify-content: flex-end;
}
/* GNB 리스트 */
/* .gnb ul li {
} */
/* GNB a링크 */
.gnb ul a {
  display: block;
  padding: 20px 13px;
  font-size: 1.7rem;
  /* line-height: 60px; */
  font-weight: bold;
}
/* GNB a링크 오버시 */
.gnb ul a:hover {
  color: red;
}
/* 상위메뉴서브가있는 리스트 선택하기 4~6 까지 */
.gnb ul > li:nth-child(3) ~ li:nth-child(-n + 6) > a {
  /* text-decoration: overline;   */
  /* 손가락 표시 */
  cursor: default;
  /* 커서는 오버시 커서모양을 변경하는 속석 */

  /* 가상요소로 아래쪽 화살표넣기 */
}
.gnb ul > li:nth-child(3) ~ li:nth-child(-n + 6) > a::after {
  content: "∨";
  display: inline-block;
  /* 트랜스폼은 inline 에서는 적용안됨 */
  font-size: 7px;
  margin-left: 8px;
  vertical-align: 3px;
  transform: scale(2);
}
/* 서브메뉴 */
.smenu {
  position: absolute;
  z-index: 1;
  left: 0; /* 부모는? 보이는 화면*/
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: 0.4s;
  background-color: #ff9696;
}
/* 상위메뉴 오버시 서브메뉴 보이기 */
.gnb > ul > li:hover .smenu {
  max-height: 50vh;
}
/* 서브 속박스 */
.swrap {
  width: 60vw;
  margin: 0 auto;
  padding: 4.9rem 12.8rem 6rem;
  white-space: nowrap;
}
/* ol 리스트 */
.smenu ol {
  /* 플렉스박스 */
  display: flex;
  /* 플렉스 랩핑박스 */
  flex-wrap: wrap;
  /* flex박스 간격 속성 : gap(위아래 양쪽)
  -> 하나의 값만 쓰면 모두셋팅 */
  gap: 1rem 2vw;
  /* justify-content: center; */
}
/* 서브타이틀 */
.smenu h2 {
  font-size: 3rem;
}

/************ 2. 메인영역 ************/
/* 2-1. 배너영역 */
/* 슬라이드박스 */
.slide-box {
  width: 100%;
  height: 100%;
}
/* 슬라이더 */
.silder {
  position: relative;
  /* 슬라이드 위치이동 초기값 */
  left: 0;
  display: flex; /* 하위 li를 옆으로 흐르게함 */
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.silder li {
  flex-basis: 100%;
  flex-shrink: 0;
  /* 부모크기만큼 옆으로 나가게 하려면
    flex-shrink 기본값 1을 0으로 변경한다!
    1의 의미는 자동으로 부모크기에 맞추어 줄어듬
    0의 의미는 설정된 크기만큼 늘어남! */

  /* 공통배경설정 */
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
/* 슬라이드 01 */
.snum-01 {
  background-image: url(../images/bg_mainvisual2.jpg);
}
.snum-02 {
  background-image: url(../images/bg_mainvisual4.jpg);
}
.snum-03 {
  background-image: url(../images/bg_mainvisual5.jpg);
}

.cat-cox {
  position: absolute;
}

/* 캐릭터박스 */
.cat-cox {
  position: absolute;
  bottom: 5%;
  left: 0;
  /* left: calc(50% - 1360px/2); 가로크기가 정해져있을때 */
  /* 가로크기가 유동적일때는 아래 */
  /* left: 50%;
  transform: translateX(-50%);  */
  /* 부모는? .ban-area*/
  width: 100%;
  /* height: 300px; */
  outline-color: yellow;
}

/* 캐릭터 속박스 - static한 박스임!(공간차지) */
.cat-inbox {
  /* 플렉스박스 */
  display: flex;
  /* 가로최대크기 설정 */
  max-width: 1360px;
  /* 가로중앙ㅈㅇ렬 */
  margin: 0 auto;
  /* 위아래 양쪽 */
  gap: 0 1vw;
  padding: 0 1vw;
}
/* 캐릭터 개별박스 등분할 */
.cat-inbox article {
  flex: 1;
}
/* 캐릭터 이미지박스  */
.imbx img {
  width: 100%;
}
/* 캐릭터 이름 이미지 박스 */
.iname {
  display: block;
  text-align: center;
  /* 앱솔루트 없이 마진으로 상단이미지와 겹치게 하기 */
  margin-top: -19%;
}
/* 캐릭터별 이름 이미지 */
.iname img {
  width: 40%;
}
.iname img:last-child {
  display: none;
}
.imbx:hover .iname img:first-child {
  display: none;
}
.imbx:hover .iname img:last-child {
  display: inline;
}

/* 오버시 두번째 이미지 보이기 */
/* 오버시 첫번째 이미지 숨기기 */

/* 캐픽터 설명박스 */
.descbx {
  height: 0;
  overflow: auto;
  /* 넘치는 자식요소 auto일 경우 정해진
  크기보다 넘치는 세로 스크롤만 생김 */
  background: url(../images/eachBG.jpg) no-repeat bottom/cover;

  transition: .4s ease-in-out;
}
/* 상위 캐릭터 개별박스에 오버시 설명박스 보이기 */
.cat-inbox article:hover .descbx{
  height: 200px;  
}
/* 상위캐릭터 개별박스에 오버시 이미지박스 트랜지션
설명박스어ㅏ 동일하게 시 */
.cat-inbox article .imbx{
  transition: .4s ease-in-out;
}
.cat-inbox article:hover .imbx{
  margin-top: -200px;
}
/* 캐릭터타이틀 */
.descbx h3 {
  font-family: "Gugi";
  font-size: 2.4rem;
  font-weight: normal;
  padding: 15px 10px 5px;
  letter-spacing: -1px;
}
.descbx p {
  font-family: "Single Day", "ZCOOL KuaiLe";
  font-size: 1.8rem;
  line-height: 1.6;
  padding: 1.5rem;
  text-align: justify;
}
/************* 3. 하단영역 *************/
