@charset "utf-8";

/* Robot PJ 메인 CSS - robot.css */

/* 웹폰트 CDN */
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Black+Ops+One&family=Chakra+Petch&family=Orbitron:wght@500&display=swap');

/* 
    font-family: 'Barlow', sans-serif;
    font-family: 'Black Ops One', cursive;
    font-family: 'Chakra Petch', sans-serif;
    font-family: 'Orbitron', sans-serif;
*/

/* 초기화 : 마진0 ,패딩0 */
html,body,h1,h2,h3,ul,ol{
    margin: 0;
    padding: 0;
}
/* html 루트 설정 */
html{
    font-size: 10px;
    /* rem단위  */
}
/* 전체 배경이미지 */
body{
    background: url(../images/bg.jpg) no-repeat fixed top/cover;

}

/* 공사중 표시 */
body * {
    outline: 2px dashed yellow;
}

/************************ 공통 클래스 ************************/
.metal1{
    background: url(../images/metal01.jpg) no-repeat center/cover;
}
.metal2{
    background: url(../images/metal02.jpg) no-repeat center/cover;
}
/************************ 1.상단영역 ************************/
h1.logo{
    position: fixed;
    top: calc(50% - 10vw);
    left: calc(50% - 10vw);
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    z-index: 999;
    background: pink url(../images/robot_03.png) no-repeat center center/auto 100%;
    box-shadow: inset 0px 0px 50px 5px #000
    ,0 0 20px 5px aqua;
    text-align: center;
    line-height: 20vw;
    font-size: 3vw;
    font-family: 'Orbitron', sans-serif;
    color: chartreuse;
    text-shadow: 0 0 10px #000;
}


/************************ 2.메인영역 ************************/
/* 2-1. 로봇박스 */
.robot-box{
padding-top: 200px;
margin-bottom: 600px;
}
/* 2-1-1. 로봇머리 */
.head{
    position: relative; /*부모자격- 앱솔루트의 부모*/
    width: 250px;
    height: 250px;
    /* 특정크기를 가지는 블록요소를 
    가로중앙으로 이동하기 - 마영오! */
    margin: 0 auto;

    /* 모서리 라운드 */
    border-radius: 90px 90px 30% 30%;
}
/* 로봇머리 가상요소 가발 만들기 */
.head::before{
    content: '';
    position: absolute;
    /* 부모는? .head */
    top: -110px;
    left: -87px;
    width: 428px;
    height: 412px;
    background: url(../images/hari_jj.png) no-repeat 0/100% 100%;
    z-index: 1;
}
/* 로봇머리 가상요소 수염 만들기 */
.head::after{
    content: '';
    position: absolute;
    /* 부모는? .head */
    top: 110px;
    left: -10px;
    width: 279px;
    height: 207px;
    background: url(../images/hair22223.png) no-repeat 0/100% 100%;
    z-index: 1;
}
/* 눈공통 */
.eye{
    position: absolute;
    /* 부모는? head */
    /* 크기공통 */
    width: 50px;
    height: 50px;
    /* 배경공통 */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #fff;
    top: 50px;
    /* 둥근눈 */
    border-radius: 50%;
    /* 이중테두리 */
    border: 4px double #000;
}
/* 왼눈 */
.eye1{
    left: 50px;
    background-image: url(../images/e1.jpg);}
/* 오른눈 */
.eye2{
    right: 50px;
    background-image: url(../images/e2.jpg);}
/* 코 */
.nose{
    position: absolute;
    width: 50px;
    height: 60px;
    top: 105px;
    left: 105px;
    background: url(../images/nose.jpg) no-repeat center/cover;
    border-radius: 30%;
}
/* 입 */
.mouth{
    position: absolute;
    width: 100px;
    height: 50px;
    top: 175px;
    left: 80px;
    background: url(../images/mouth.png) no-repeat center/cover;

}

/* 귀공통 */
.ear{
    position: absolute;
    top: 70px;
    width: 50px;
    height: 90px;
    background: url(../images/metal02.jpg) no-repeat center/cover;

  
}
.ear1{
    left: -50px;
    /* 라운드처리 */
    border-radius: 20px 0 0 20px;
}

.ear2{
    right: -50px;
    border-radius: 0 20px 20px 0;
}

/*2-1-2. 몸통 */
.body{
    position: relative;  /* 부모자격-하위직계 자식 div들 */
    width: 220px;
    height: 370px;
    /* 마영오! */
    margin: 0 auto;
    margin-top: 50px;
    /* 배경이미지 조정 */
    /* background-repeat: repeat; */
    background-size: 90%;
}

/* 몸통 가상요소 상의만들기 */
.body::before{
    content: '';
    position: absolute; /*부모는? .body*/
    top: 0;
    left: -5%;
    width: 110%;
    height: 50%;
    background-image: linear-gradient(to bottom,#ffc68a,#d18800);
    border-radius: 10px;
}

/* 몸통 가상요소 하의만들기 */
.body::after{
    content: '';
    position: absolute; /*부모는? .body*/
    bottom: -20%;
    left: -5%;
    width: 110%;
    height: 35%;
    background-image: linear-gradient(to bottom,#ff8787,#ff0000);
    border-radius: 40px 40px 70% 70%;
}

/* 목 */
.neck{
    position: absolute;
    top: -50px;
    left: calc(50% - 50px/2); 
    /* 가로 또는 세로 중앙보내기 계산법
    left: calc(50% - 크기px/2); 
    top: calc(50% - 크기px/2); 

    ->크기는 left 일경우 width 이고
    top 일 경우 height 값이다!!! */
    width: 50px;
    height: 50px;
}
/* ************************************************* */
/* 팔 공통 */
.arm{
    position: absolute;
    top: 20px;
    width: 50px;
    height: 200px;
}
/* 팔관절원 가상요소 공통 */
/* 큰원 */
.arm::before{
    content: '';
    position: absolute;
    /* 부모는? .arm */
    top: calc(100% - 50px/2);
    left: 0;
    width: 50px;
    height: 50px;
    z-index: 1;
    border-radius: 50%;
    border: 2px solid rgb(0, 0, 0);
    background-color: #ccc;
    /* 보더때문에 박스가 커지므로 패딩,보다 포함방스 설정하기 */
    box-sizing: border-box;
}
/* 작은원 */
.arm::after{
    content: '';
    position: absolute;
    /* 부모는? .arm */
    top: calc(100% - 40px/2); /*부모박스 바깥으로 모두밀고 원크기 절반빼기*/
    left: calc(50% - 40px/2); /*부모박스 절반만큼 밀고 원크기 절반 빼기 (가로중앙)*/
    width: 40px;
    height: 40px;
    z-index: 1;

    border-radius: 50%;
    /* 그라데이션 배경 */
    background-image: linear-gradient(to bottom,#ccc,#222);
    /* 박스 내부 그림자 : bsh : inset */
    box-shadow: inset 0 0 5px #222;
    
}
/* 팔 하단공통 */
.arm span{
    position: absolute;
    /* span 부모는? .arm */
    top: 100%;
    left: 10%;
    width: 80%;
    height: 80%;
}

/* 팔 하단 가상요소 손말들기 공통 */
.arm span::after{
    content: '';
    position: absolute;
    /* 부모는? span */
    top: 100%;
    width: 70px;
    height: 100px;
    /* outline: 2px dotted lime; */
    /* 배경공통 */
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
/* 왼손 */
.arm1 span::after{
    background-image: url(../images/hand_left.png);
    left: -12px;
}
/* 오른손 */
.arm2 span::after{
    background-image: url(../images/hand_right.png);
    right: -12px;
}
/* 왼팔 */
.arm1{
    left: -65px;
}
/* 오른팔 */
.arm2{
    right:-65px;
}
/* *****************************************************************  */
/* 다리 공통 */
.leg{
    position: absolute;
    top: 100%;
    width: 70px;
    height: 200px;
}
/* *****************************************************************  */
/* 다리관절원 가상요소 공통 */
/* 큰사각 */
.leg::before{
    content: '';
    position: absolute;
    /* 부모는? .arm */
    top: calc(100% - 70px/2);
    left: 0;
    width: 70px;
    height: 60px;
    z-index: 1;
    border-radius: 30px;
    border: 2px solid rgb(0, 0, 0);
    background-color: #ccc;
    /* 보더때문에 박스가 커지므로 패딩,보다 포함방스 설정하기 */
    box-sizing: border-box;
}
/* 작은사각 */
.leg::after{
    content: '';
    position: absolute;
    /* 부모는? .arm */
    top: calc(100% - 50px/2); /*부모박스 바깥으로 모두밀고 원크기 절반빼기*/
    left: calc(50% - 50px/2); /*부모박스 절반만큼 밀고 원크기 절반 빼기 (가로중앙)*/
    width: 50px;
    height: 40px;
    z-index: 1;
    border-radius: 20px;
    /* 그라데이션 배경 */
    background-image: linear-gradient(to bottom,#ccc,#222);
    /* 박스 내부 그림자 : bsh : inset */
    box-shadow: inset 0 0 5px #222;}
    
    /* *****************************************************************  */
    
    /* 다리 하단공통 */
.leg span{
    position: absolute;
    /* span 부모는? .arm */
    top: 100%;
    left: 10%;
    width: 80%;
    height: 80%;
}
/* 다리 하단 가상요소 부츠말들기 상단 */
.leg span::before{
    content: '';
    position: absolute;
    /* 부모는? span */
    top: 60%;
    left: -10%;
    width: 120%;
    height: 120%;
    background-image: linear-gradient(to right,#222,#ccc);
    border: 5px solid #222;
    border-top-width: 20px;
    box-sizing: border-box;
}
.leg span::after{
    content: '';
    position: absolute;
    /* 부모는? span */
    top: 150%;
    left: -20%;
    width: 140%;
    height: 40%;
    z-index: 1;
    background-image: linear-gradient(30deg,#222,#ccc);
    border: 5px solid #222;
    box-sizing: border-box;
    border-bottom-width: 20px;
    border-radius: 40px 40px 0 0 ;
}

/* 왼다리 */
.leg1{
    left: 0;
}
/* 오른다리 */
.leg2{
    right: 0;
}

/* *****************************************************************  */

/* 어깨 공통 */
.shdr{
    position: absolute;
    width: 70px;
    height: 70px;
}
/* 왼어깨 */
.shdr1{
    left: -82px;
    border-radius: 30% 0 0 30% ;
}
/* 오른어깨 */
.shdr2{
    right: -82px;
    border-radius: 0 30% 30% 0;
}
/* *****************************************************************  */
/* TV */
.tv{
    position: absolute;
    width: 170px;
    height: 130px;
    background: url(../images/tv.jpg) no-repeat 0/100% 100%;
    left: calc(220px/2 - 170px/2);
    top: 20px;
}

/* 스크린 */
.screen{
    position: absolute;
    /* 부모는? .tv */
    top: 17px;
    left: 11px;
    width: 117px;
    height: 87px;
    /* border: 2px dashed blue; */
    border-radius: 14px;
    overflow: hidden;
}
/* 유튭 아이프레임 */
.screen iframe{
    position: absolute;
    /* 부모는? .screen */
    top: -4px;
    left: -25px;
    width: 160px;
    height: 100px;
    opacity: 1;
    border-radius: 10px;
    
}

/* 로봇설명박스 */
.text-box{
    max-width: 800px;
    margin: 0 auto;
    color: #fff;
    padding: 15px 30px;
    background-color: #00000049;
    border-radius: 20px;
    box-shadow: inset 0px 0px 20px blue
    ,inset 0px 0px 20px 10px cyan;

    /* 백드롭필터효과
    -filter
    <filter-function> 값
    backdrop-filter: blur(2px); 흐림
    backdrop-filter: brightness(60%); 밝기
    backdrop-filter: contrast(40%); 대비
    backdrop-filter: drop-shadow(4px 4px 10px blue); 그림자
    backdrop-filter: grayscale(30%); 흑백
    backdrop-filter: hue-rotate(120deg); 색상변경
    backdrop-filter: invert(70%); 반전
    backdrop-filter: opacity(20%); 투명도
    backdrop-filter: sepia(90%); 세피아효과
    backdrop-filter: saturate(80%); 채도
    
     다중 필터 =복합적용 가능
    backdrop-filter:blur(4px) saturate(150%);
    */
    backdrop-filter: blur(6px);
}





/* 2-2-1. 제목 */
.text-box h2{
    position: sticky;
    top: 10px;
    font-size: 3.5rem;
    font-family: 'Chakra Petch', sans-serif;
    text-align: center;
    background-color: #ffffff86;
    color: cyan;
    text-shadow: 2px 2px 2px #000000;
    border-radius: 20px;
    font-weight: normal;
    
}
/* 2-2-2. 출처 */
.text-box small{
    display: block;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Chakra Petch', sans-serif;
    color: yellow;
    text-shadow: 1px 1px 1px #000000;
    padding: 10px;
}
/* 2-2-3. 내용단락 */
.text-box p{
    font-family: 'Barlow', sans-serif;
    font-size: 1.7rem;
    line-height: 1.7em;/* 줄간격 */ 
    letter-spacing: 1px;/* 자간 */
    word-spacing: 2px;/* 단어간격 */
    /* 
        [다단설정하기]
        -다중열 속성
        ->column-count : 다중열개수
        ->column-rule : 다중열구분선
        ->column-gap : 다중열사이간격
    */

    column-count:3; /* 다단수 */
    /* 사이구분선은 border와 유사 */
    column-rule: 5px dotted lightgreen; /* 구분선 두종색 */
    column-gap: 55px; /* 사이간격 */
    text-align: justify; /* 양쪽정렬 */
    word-break: break-all; /* 영문자 단어 깨기 */
    /* 첫줄 들여쓰기 : text- */
    text-indent: 10px;
}

/* 
.desc::first-letter{
*/
.text-box p::first-letter{
    color: hotpink;
    font-size: 2.8rem;
    font-weight: bold;
}


/************************ 3.하단영역 ************************/
