@charset "utf-8";

/* 네비게이션 유형1 CSS - nav01.css */

@import url(./grid_12_float.css);
html,
body,
h1 {
    margin: 0;
    padding: 0;
}
h1.tit {
    text-align: center;
    padding: 20px;
}

/* 전체 바디 */
body{
    color: #fff;
    background: #020d49 url(../images/nav1bg.png ) no-repeat fixed center/cover;
}
/* ul ol 초기화 */
ul,ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
/* a요소 공통 */
a{color: #fff;
    text-decoration: none;
}

/* 공통클래스 클리어설정 */
ul::after,ol::after,.clb::after{
    content: '';
    display: block;
    clear: both;
}
/* 중앙속박스 */
.inbox{
    max-width: 1650px;
    margin: 0 auto;
    outline: 2px dashed lime;
}
/* 로고 */
.logo{
    padding: 13px 0;
}

/* GNB메뉴 상위메뉴만 적용하기
직계자식 (>) */
.gnb ul>li{
    position: relative; /* 부모자격 .smenu */
    float: left;
    line-height: 78px;
    padding: 0 32px;
    font-weight: bold;
    /* 글자관련 셋팅은 하위요소로 모두 상속됨! */
}

.gnb{
    margin-left: 63px;
}

/* 가상요소 밑줄을 위한 부모자격 */
.gnb ul>li>a{
    position: relative;
}

/************************* gnb 상위메뉴 오버시 밑줄애니 *************************/
.gnb ul>li>a::after{
    content: '';
    position: absolute;
    top: 55px;
    left: 100%;
    /* 앱솔루트는 자동블록됨 */
    width: 0;
    height: 3px;
    background-color: #fff;
    /* 아웃시 트랜지션 */
    transition: .3s;
}
/* 오버시 선 나오기 */
.gnb ul>li:hover>a::after{
    left: 0;
    width: 100%;
    /* 오버시 트랜지션
    left는 트랜지션만 적용할것 */
    transition: width 0.3s;
}
/* **************************************************************************** */


/* 메인영역 */
.main-area {
    max-width: 1000px;
    min-height: 600px;
    line-height: 600px;
    text-align: center;
    font-size: 2.5vw;
    border: 10px dashed lightgreen;
    margin: 100px auto;
}

/* 서브메뉴 */
.smenu{
    position: absolute;
    left: 50%;
    /* x축 중앙이동 */
    transform: translate(-50%);
    width: 200px;
    background-color: #00000035 ;
    text-align: center;
    border-radius: 10px;
    box-shadow: inset 0 0 10px lightskyblue;
    line-height: 40px;
    /* 패딩이 있으면 높이값 0 숨기기가 안됨
    그래서 하위 요소인 ol 태그에 패딩줌 */

    /* 숨기기장치 */
    /* height: 0; */
    max-height: 0;
    overflow: hidden;

    /* 트랜지션 height -> max-height */
    transition: max-height .4s;


    /* smenu  */
    font-weight: normal;
}
/* 상위li오버시 서브메뉴 보이기 */
.gnb ul>li:hover .smenu{
    max-height: 220px;
    /* max-height로 셋팅하는 원리 : 
    최대높이값은 컨텐츠내용이 적을때 auto하게 
    내용물 만큼만 높이값이 셋팅도니다!
    따라서 셋팅높이값은 최대로 셋팅해야하는 높이값으로 
    셋팅하면 더작은 높이값은 자동으로 셋팅된다 
    작은크기는 시간이 짧게 표현된다!*/

    /* height: 210px; */
    /* height: auto ; */
    /*
     높이값 변경 트랜지션 주의사항
        -> auto 로 셋팅하면 특정 크기로 변경할떄만 적용되는 트랜지션이 적용되지 않음!
        height 셋팅시에는 변할 실제크기를 셋팅해야함
        -> 각 상위 li별로 높이값을 각각 셋팅해야하는 번거로움이 있따 
    */
}
/* 예시로 5번쨰 높이값 개별셋팅 */
/* .gnb ul>li:nth-child(5):hover .smenu{
    height: 58px;
} */


.smenu ol{
    padding: 10px;
}
/* 서브메뉴 li 순서대로 나타나기 */
.smenu li{
    opacity: 0; /* 투명하게 */
    transition: opacity 1.2s;
}
/* 오버시 */
.gnb ul>li:hover .smenu li{
    opacity: 1;
}
/* 오버시 li순서대로 opacity 주기 */
.gnb ul>li:hover .smenu li:nth-child(2){
    transition-delay: 0.2s;
}
.gnb ul>li:hover .smenu li:nth-child(3){
    transition-delay: 0.3s;
}
.gnb ul>li:hover .smenu li:nth-child(4){
    transition-delay: 0.4s;
}
.gnb ul>li:hover .smenu li:nth-child(5){
    transition-delay: 0.5s;
}



.smenu li>a{
    opacity: 0.7;
    /* a태그 양 옆 확장시키기 */
    width: 180px;
    /* display: block; */
    transition: .1s;
}
.smenu li>a:hover{
    opacity: 1;
    font-weight: bold ;
}
.gnb a {
    display: block;
}