@charset "utf-8";

/* 외부CSS합치기 */
@import url(./reset.css);
@import url(./common.css);

/* 드래그 슬라이드 CSS불러오기 */
@import url(./drag_slide.css);


/* 네비게이션 유형6 CSS - nav06.css */
html,body{
    overflow-x: hidden;
}

/* 서브 컨텐츠 */
.sub-cont{
    display: flex;
    max-width: 1200px;
    aspect-ratio: 2/1.1;
    /* height: 500px; */
    margin: 0 auto;
    padding: 50px 0;
}
/* 파티션박스 */
.sub-cont>div{
    flex: 1;
    outline: 2px dashed pink;
}
/* 서브컨텐츠 오른쪽 박스 */
.cont-right-box{
    overflow: hidden;
}

/* 서브배너 디자인 변경하기 
-> scale 1.1 배에대한 보정으로 크기를 박스에 맞춤*/
.sub-banbx {
    aspect-ratio: 1;
    left: 5%;
    width: 90%;
}

.sub-banbx .ab1 {
    left: 15px;
}

.sub-banbx .ab2 {
    right: 15px;
}
/* 사이간격은 그대로두고 li크기를 키워서 사이간격 없애기 셋팅 */
.sub-slide li{
    transform: scale(1.1);
    mask: linear-gradient(to right, transparent 0.5%, black 0.5%, black 99.5%, transparent 99.5%);

}
.sub-slide{
    /* gap: 0; */

}